<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">
  <title>Boilerplate</title>
</head>

<body>
  {{> _navbar}}
  <div class="container">
    {{{body}}}
  </div>
  {{> _footer}}
  <script src="js/main.js"></script>
</body>

</html>